<div class="container">
  <!-- {{ recData }}<br /> -->
  <button
    class="btn btn-success mt-2 mb-2 btn-lg float-end"
    data-bs-toggle="modal"
    data-bs-target="#postModal"
  >
    Add Buyer
  </button>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col" *ngFor="let itemField of fields">{{ itemField }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of recData; let i = index">
        <td>{{ item.buyer_name }}</td>
        <td>{{ item.buyer_email }}</td>
        <td>{{ item.buyer_address }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.website }}</td>
        <td>{{ item.company }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#putModal"
            (click)="forModal(item.id, item)"
          >
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(item.id)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal for post -->
  <div
    class="modal fade"
    id="putModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form [formGroup]="myPutForm" (ngSubmit)="onPut(myPutForm)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ modalTitle }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div
              class="input-group mt-1"
              *ngFor="let itemModal of fieldsOrigin; let i = index"
            >
              <span class="input-group-text">{{ fields[i] }}</span>
              <!-- <p>{{ formPutData.itemModal }}</p> -->
              <input
                type="text"
                class="form-control"
                formControlName="{{ itemModal }}"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    class="modal fade"
    id="postModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form [formGroup]="myPutForm" (ngSubmit)="onPost(myPutForm)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ modalTitle }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div
              class="input-group mt-1"
              *ngFor="let itemModal of fieldsOriginPost; let i = index"
            >
              <span class="input-group-text">{{ fields[i] }}</span>
              <!-- <p>{{ formPutData.itemModal }}</p> -->
              <input
                type="text"
                class="form-control"
                formControlName="{{ itemModal }}"
                required
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
